### Подключение к базе и основные таблицы

In [1]:
import pandas as pd

### Данные по пользователям

user_info = pd.read_sql(
    """SELECT * FROM public.user_data""",
    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

user_info.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [2]:
### Посты и топики

posts_info = pd.read_sql(
    """SELECT * FROM public.post_text_df""",
    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

posts_info.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

In [3]:
### Почти 77 миллионов данных, достаточно тяжело
### Попробуем забрать, скажем, 10 миллионов

feed_data = pd.read_sql(
    """SELECT * FROM public.feed_data LIMIT 10000000""",
    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-11-05 19:07:31    80072     1559   like       0
1 2021-11-05 19:07:33    80072     5040   view       0
2 2021-11-05 19:08:59    80072     1566   view       1
3 2021-11-05 19:09:23    80072     1566   like       0
4 2021-11-05 19:09:25    80072     3017   view       0

### Работа с данными и фичи для контентной модели

In [4]:
### Как устроена колонка target?

feed_data[feed_data.action!='view']

                  timestamp  user_id  post_id action  target
0       2021-11-05 19:07:31    80072     1559   like       0
3       2021-11-05 19:09:23    80072     1566   like       0
11      2021-11-05 19:23:29    80072     3569   like       0
13      2021-11-05 19:26:24    80072     6378   like       0
25      2021-11-05 19:44:06    80072     5736   like       0
...                     ...      ...      ...    ...     ...
9999896 2021-12-15 14:11:31   109973     1117   like       0
9999903 2021-12-15 14:22:54   109973      436   like       0
9999932 2021-12-16 15:58:00   109973       15   like       0
9999955 2021-12-18 08:00:09   109973     1610   like       0
9999982 2021-11-13 17:37:59   150666      808   like       0

[1067681 rows x 5 columns]

In [5]:
### Почистим данные от action != view

feed_data = feed_data[feed_data.action == 'view']

feed_data.head()

            timestamp  user_id  post_id action  target
1 2021-11-05 19:07:33    80072     5040   view       0
2 2021-11-05 19:08:59    80072     1566   view       1
4 2021-11-05 19:09:25    80072     3017   view       0
5 2021-11-05 19:11:15    80072     1365   view       0
6 2021-11-05 19:14:10    80072     2316   view       0

Напомним, как устроен контентный подход! 

Научимся по выбранной дате timestamp 

И для любой пары (user_id, post_id)

Предсказывать, случится лайк или нет

Хорошо бы иметь модель, которая умеет предсказывать вероятности

In [11]:
### Сделаем эмбеддинги постов
from transformers import AutoTokenizer
from transformers import BertModel  
from transformers import RobertaModel  
from transformers import DistilBertModel  


def get_model(model_name):
    assert model_name in ['bert', 'roberta', 'distilbert']

    checkpoint_names = {
        'bert': 'bert-base-cased',  
        'roberta': 'roberta-base',  
        'distilbert': 'distilbert-base-cased'  
    }

    model_classes = {
        'bert': BertModel,
        'roberta': RobertaModel,
        'distilbert': DistilBertModel
    }

    return AutoTokenizer.from_pretrained(checkpoint_names[model_name]), model_classes[model_name].from_pretrained(checkpoint_names[model_name])

Collecting transformers
  Using cached transformers-4.25.1-py3-none-any.whl (5.8 MB)
Collecting huggingface-hub<1.0,>=0.10.0
  Using cached huggingface_hub-0.11.1-py3-none-any.whl (182 kB)
Requirement already satisfied: requests in c:\users\omen\anaconda3\lib\site-packages (from transformers) (2.27.1)
Requirement already satisfied: packaging>=20.0 in c:\users\omen\anaconda3\lib\site-packages (from transformers) (21.3)
Requirement already satisfied: pyyaml>=5.1 in c:\users\omen\anaconda3\lib\site-packages (from transformers) (6.0)
Requirement already satisfied: filelock in c:\users\omen\anaconda3\lib\site-packages (from transformers) (3.6.0)
Requirement already satisfied: numpy>=1.17 in c:\users\omen\anaconda3\lib\site-packages (from transformers) (1.21.5)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp39-cp39-win_amd64.whl (3.3 MB)
Requirement already satisfied: tqdm>=4.27 in c:\users\omen\anaconda3\lib\site-packages (from transformers) (4.64.0)
Requirement already satisfied: regex!=2019.12.17 in c:\users\omen\anaconda3\lib\site-packages (from transformers) (2022.3.15)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\omen\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.10.0->transformers) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\omen\anaconda3\lib\site-packages (from packaging>=20.0->transformers) (3.0.4)
Requirement already satisfied: colorama in c:\users\omen\anaconda3\lib\site-packages (from tqdm>=4.27->transformers) (0.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\omen\anaconda3\lib\site-packages (from requests->transformers) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\omen\anaconda3\lib\site-packages (from requests->transformers) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\omen\anaconda3\lib\site-packages (from requests->transformers) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\omen\anaconda3\lib\site-packages (from requests->transformers) (2021.10.8)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.11.1 tokenizers-0.13.2 transformers-4.25.1

In [12]:
tokenizer, model = get_model('distilbert')

Downloading:   0%|          | 0.00/29.0 [00:00<?, ?B/s]

C:\Users\OMEN\anaconda3\lib\site-packages\huggingface_hub\file_download.py:127: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\OMEN\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

Downloading:   0%|          | 0.00/411 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/213k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/436k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/263M [00:00<?, ?B/s]

Some weights of the model checkpoint at distilbert-base-cased were not used when initializing DistilBertModel: ['vocab_transform.weight', 'vocab_layer_norm.weight', 'vocab_projector.weight', 'vocab_projector.bias', 'vocab_transform.bias', 'vocab_layer_norm.bias']
- This IS expected if you are initializing DistilBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing DistilBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [13]:
### Сделаем датасет для постов

from torch.utils.data import Dataset
from torch.utils.data import DataLoader
from transformers import DataCollatorWithPadding


class PostDataset(Dataset):
    def __init__(self, texts, tokenizer):
        super().__init__()

        self.texts = tokenizer.batch_encode_plus(
            texts,
            add_special_tokens=True,
            return_token_type_ids=False,
            return_tensors='pt',
            truncation=True,
            padding=True
        )
        self.tokenizer = tokenizer

    def __getitem__(self, idx):
        return {'input_ids': self.texts['input_ids'][idx], 'attention_mask': self.texts['attention_mask'][idx]}

    def __len__(self):
        return len(self.texts['input_ids'])
    
    
dataset = PostDataset(posts_info['text'].values.tolist(), tokenizer)

data_collator = DataCollatorWithPadding(tokenizer=tokenizer)

loader = DataLoader(dataset, batch_size=32, collate_fn=data_collator, pin_memory=True, shuffle=False)

b = next(iter(loader))

b

You're using a DistilBertTokenizerFast tokenizer. Please note that with a fast tokenizer, using the `__call__` method is faster than using a method to encode the text followed by a call to the `pad` method to get a padded encoding.

{'input_ids': tensor([[  101,  1993,  4190,  ...,     0,     0,     0],
        [  101, 15386,  1116,  ...,  1300,  1107,   102],
        [  101,  3141,   186,  ..., 14099,  8478,   102],
        ...,
        [  101, 16972, 20647,  ...,     0,     0,     0],
        [  101,   137,   188,  ...,     0,     0,     0],
        [  101,   144, 22731,  ...,     0,     0,     0]]), 'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 1, 1, 1],
        [1, 1, 1,  ..., 1, 1, 1],
        ...,
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0]])}

In [14]:
import torch
from tqdm import tqdm


@torch.inference_mode()
def get_embeddings_labels(model, loader):
    model.eval()
    
    total_embeddings = []
    
    for batch in tqdm(loader):
        batch = {key: batch[key].to(device) for key in ['attention_mask', 'input_ids']}

        embeddings = model(**batch)['last_hidden_state'][:, 0, :]

        total_embeddings.append(embeddings.cpu())

    return torch.cat(total_embeddings, dim=0)

In [18]:
embeddings = get_embeddings_labels(model, loader).numpy()

embeddings

array([[ 3.63150924e-01,  4.89375107e-02, -2.64081419e-01, ...,
        -1.41593292e-01,  1.59181058e-02,  9.18474980e-05],
       [ 2.36416146e-01, -1.59501195e-01, -3.27798426e-01, ...,
        -2.89936155e-01,  1.19365156e-01, -1.62365846e-03],
       [ 3.75191331e-01, -1.13943920e-01, -2.40547195e-01, ...,
        -3.38919163e-01,  5.86937591e-02, -2.12656315e-02],
       ...,
       [ 3.40382338e-01,  6.64923489e-02, -1.63184568e-01, ...,
        -8.65626335e-02,  2.03403682e-01,  3.20905708e-02],
       [ 4.32092071e-01,  1.10913180e-02, -1.17306173e-01, ...,
         7.54014030e-02,  1.02739736e-01,  1.52741875e-02],
       [ 3.04277599e-01, -7.62156248e-02, -6.77586049e-02, ...,
        -5.43486886e-02,  2.44383708e-01, -1.41484234e-02]], dtype=float32)

In [17]:
### Пытаемся кластеризовать тексты

from sklearn.decomposition import PCA

centered = embeddings - embeddings.mean()

pca = PCA(n_components=20)
pca_decomp = pca.fit_transform(centered)

from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=15, random_state=0).fit(pca_decomp)

posts_info['TextCluster'] = kmeans.labels_

dists_columns = ['DistanceTo1thCluster',
                 'DistanceTo2thCluster',
                 'DistanceTo3thCluster',
                 'DistanceTo4thCluster',
                 'DistanceTo5thCluster',
                 'DistanceTo6thCluster',
                 'DistanceTo7thCluster',
                 'DistanceTo8thCluster',
                 'DistanceTo9thCluster',
                 'DistanceTo10thCluster',
                 'DistanceTo11thCluster',
                 'DistanceTo12thCluster',
                 'DistanceTo13thCluster',
                 'DistanceTo14thCluster',
                 'DistanceTo15thCluster']

dists_df = pd.DataFrame(
    data=kmeans.transform(pca_decomp),
    columns=dists_columns
)

dists_df.head()

,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,3.304246,3.620401,2.859321,3.298448,2.694607,3.270909,2.033472,1.734975,3.228055,3.366776,2.164244,3.342857,1.492624,3.497085,3.299263
1,3.184774,3.331278,2.657021,3.040497,2.359118,3.238412,1.977695,1.167934,3.178972,3.100411,2.096817,2.984859,1.903261,3.193114,2.773982
2,3.233075,3.411761,2.934810,3.130858,2.750259,3.396074,2.893854,1.425920,3.124659,3.291293,2.204940,3.017749,1.632557,3.213984,2.776564
3,3.605784,2.886860,3.128229,3.553193,3.246159,3.609459,3.255307,2.145011,3.372815,3.938695,2.617186,3.666022,2.301664,3.649338,3.561258
4,2.591213,3.073209,2.429409,2.645641,1.824097,2.575958,2.734103,1.701688,2.826227,3.017270,1.572849,2.539641,1.163709,2.811826,2.419337

In [19]:
posts_info = pd.concat((posts_info, dists_df), axis=1)

posts_info.head()

,post_id,text,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,1,UK economy facing major risks\n\nThe UK manufa...,business,12,3.304246,3.620401,2.859321,3.298448,2.694607,3.270909,2.033472,1.734975,3.228055,3.366776,2.164244,3.342857,1.492624,3.497085,3.299263
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,7,3.184774,3.331278,2.657021,3.040497,2.359118,3.238412,1.977695,1.167934,3.178972,3.100411,2.096817,2.984859,1.903261,3.193114,2.773982
2,3,Asian quake hits European shares\n\nShares in ...,business,7,3.233075,3.411761,2.934810,3.130858,2.750259,3.396074,2.893854,1.425920,3.124659,3.291293,2.204940,3.017749,1.632557,3.213984,2.776564
3,4,India power shares jump on debut\n\nShares in ...,business,7,3.605784,2.886860,3.128229,3.553193,3.246159,3.609459,3.255307,2.145011,3.372815,3.938695,2.617186,3.666022,2.301664,3.649338,3.561258
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,12,2.591213,3.073209,2.429409,2.645641,1.824097,2.575958,2.734103,1.701688,2.826227,3.017270,1.572849,2.539641,1.163709,2.811826,2.419337

In [22]:
posts_info['topic'] = posts_info['topic'].map(pd.merge(
            feed_data,
            posts_info.drop('text', axis=1),
            on='post_id',
            how='left').groupby('topic')['target'].mean())

In [23]:
posts_info.to_sql(    
   "posts_info_features",                    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml",                      
    schema="public",                   
    if_exists='replace'            
   )

23

In [24]:
#поработаем с фичами юзеров
test_ = pd.read_sql(
    """SELECT * FROM public.user_info_features""",
    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
test_ = test_.drop(['index', 'countoflike'])

,index,user_id,gender,srmap,countoflike,like_0,like_1,like_2,age,city,exp_group
0,0,200,1,0.148193,358,6,1,3,34,Degtyarsk,3
1,1,201,0,0.069763,690,6,1,5,37,Abakan,0
2,2,202,1,0.111084,637,6,1,4,17,Smolensk,4
3,3,203,0,0.186401,321,6,1,3,18,Moscow,1
4,4,204,0,0.000000,138,6,1,3,36,Anzhero-Sudzhensk,3
...,...,...,...,...,...,...,...,...,...,...,...
163200,163200,168548,0,0.000000,362,6,1,5,36,Kaliningrad,4
163201,163201,168549,0,0.000000,252,4,6,1,18,Tula,2
163202,163202,168550,1,0.071411,369,6,1,5,41,Yekaterinburg,4
163203,163203,168551,0,0.152954,477,6,1,3,38,Moscow,3
163204,163204,168552,1,0.000000,250,3,6,1,16,Ivanteyevka,4

In [48]:
user_info = test_.drop(['index', 'countoflike'], axis=1)

In [50]:
user_info['city'] = user_info['city'].map(pd.merge(
            feed_data,
            user_info[['user_id', 'city']],
            on='user_id',
            how='left').groupby('city')['target'].mean())

In [52]:
user_info['exp_group'] = user_info['exp_group'].map(pd.merge(
            feed_data,
            user_info[['user_id', 'exp_group']],
            on='user_id',
            how='left').groupby('exp_group')['target'].mean())

In [53]:
user_info

,user_id,gender,srmap,like_0,like_1,like_2,age,city,exp_group
0,200,1,0.148193,6,1,3,34,0.157534,0.093361
1,201,0,0.069763,6,1,5,37,0.129490,0.094053
2,202,1,0.111084,6,1,4,17,0.149247,0.112245
3,203,0,0.186401,6,1,3,18,0.155936,0.148811
4,204,0,0.000000,6,1,3,36,0.146527,0.093361
...,...,...,...,...,...,...,...,...,...
163200,168548,0,0.000000,6,1,5,36,0.067210,0.112245
163201,168549,0,0.000000,4,6,1,18,0.087285,0.148441
163202,168550,1,0.071411,6,1,5,41,0.079892,0.112245
163203,168551,0,0.152954,6,1,3,38,0.155936,0.093361
163204,168552,1,0.000000,3,6,1,16,0.058786,0.112245

In [54]:
user_info.to_sql(    
   "user_info_features",                    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml",                      
    schema="public",                   
    if_exists='replace'            
   )

205

In [55]:
### Воспроизведем датафрейм со всеми новыми фичами 

df = pd.merge(feed_data,
              posts_info,
              on='post_id',
              how='left')

df.head()

,timestamp,user_id,post_id,action,target,text,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,...,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,2021-11-05 19:07:33,80072,5040,view,0,"Not only was this film exhilarating, but it to...",0.121222,0,1.312348,2.502413,...,1.635818,3.253526,2.887747,2.684970,3.145558,2.531785,1.735963,2.833629,2.200534,2.695899
1,2021-11-05 19:08:59,80072,1566,view,1,Kerr frustrated at victory margin\n\nRepublic ...,0.123896,9,3.455095,3.807062,...,3.527050,3.078518,3.632820,3.974306,0.876688,3.486864,3.251134,3.379247,3.712589,2.675395
2,2021-11-05 19:09:25,80072,3017,view,0,Gut-wrenching &amp; heart broken. Lost three m...,0.119944,13,2.259625,2.787625,...,2.593166,3.348488,3.144202,2.142853,3.397564,2.829831,2.501806,3.169005,1.247586,2.948416
3,2021-11-05 19:11:15,80072,1365,view,0,Milburn defends poster campaign\n\nLabours ele...,0.113412,6,3.534899,3.897914,...,3.617672,1.056810,2.897252,3.896637,3.149810,2.918094,3.475394,2.878770,3.760947,3.478173
4,2021-11-05 19:14:10,80072,2316,view,0,Loyalty cards idea for TV addicts\n\nViewers c...,0.098921,10,2.439560,2.724213,...,2.627032,1.806946,2.207119,3.098247,2.830954,1.281974,2.455299,1.720792,2.905696,2.895061

In [56]:
df = pd.merge(df,
              user_info,
              on='user_id',
              how='left')

df.head()

,timestamp,user_id,post_id,action,target,text,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,...,DistanceTo14thCluster,DistanceTo15thCluster,gender,srmap,like_0,like_1,like_2,age,city,exp_group
0,2021-11-05 19:07:33,80072,5040,view,0,"Not only was this film exhilarating, but it to...",0.121222,0,1.312348,2.502413,...,2.200534,2.695899,1,0.231689,6,1,3,27,0.154716,0.093361
1,2021-11-05 19:08:59,80072,1566,view,1,Kerr frustrated at victory margin\n\nRepublic ...,0.123896,9,3.455095,3.807062,...,3.712589,2.675395,1,0.231689,6,1,3,27,0.154716,0.093361
2,2021-11-05 19:09:25,80072,3017,view,0,Gut-wrenching &amp; heart broken. Lost three m...,0.119944,13,2.259625,2.787625,...,1.247586,2.948416,1,0.231689,6,1,3,27,0.154716,0.093361
3,2021-11-05 19:11:15,80072,1365,view,0,Milburn defends poster campaign\n\nLabours ele...,0.113412,6,3.534899,3.897914,...,3.760947,3.478173,1,0.231689,6,1,3,27,0.154716,0.093361
4,2021-11-05 19:14:10,80072,2316,view,0,Loyalty cards idea for TV addicts\n\nViewers c...,0.098921,10,2.439560,2.724213,...,2.905696,2.895061,1,0.231689,6,1,3,27,0.154716,0.093361

In [57]:
### А еще научимся выделять признаки
### Из timestamp!
### от времени просмотра может зависеть
### Склонность пользователей лайкать или игнорировать посты

df['hour'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.hour)
df['month'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.month)

df.head()

,timestamp,user_id,post_id,action,target,text,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,...,gender,srmap,like_0,like_1,like_2,age,city,exp_group,hour,month
0,2021-11-05 19:07:33,80072,5040,view,0,"Not only was this film exhilarating, but it to...",0.121222,0,1.312348,2.502413,...,1,0.231689,6,1,3,27,0.154716,0.093361,19,11
1,2021-11-05 19:08:59,80072,1566,view,1,Kerr frustrated at victory margin\n\nRepublic ...,0.123896,9,3.455095,3.807062,...,1,0.231689,6,1,3,27,0.154716,0.093361,19,11
2,2021-11-05 19:09:25,80072,3017,view,0,Gut-wrenching &amp; heart broken. Lost three m...,0.119944,13,2.259625,2.787625,...,1,0.231689,6,1,3,27,0.154716,0.093361,19,11
3,2021-11-05 19:11:15,80072,1365,view,0,Milburn defends poster campaign\n\nLabours ele...,0.113412,6,3.534899,3.897914,...,1,0.231689,6,1,3,27,0.154716,0.093361,19,11
4,2021-11-05 19:14:10,80072,2316,view,0,Loyalty cards idea for TV addicts\n\nViewers c...,0.098921,10,2.439560,2.724213,...,1,0.231689,6,1,3,27,0.154716,0.093361,19,11

In [58]:
### Уберем все ненужные колонки

df = df.drop([
    'action',
    'text',
],
    axis=1)

df = df.set_index(['user_id', 'post_id'])

df.head(50)

                          timestamp  target     topic  TextCluster  \
user_id post_id
80072   5040    2021-11-05 19:07:33       0  0.121222            0
        1566    2021-11-05 19:08:59       1  0.123896            9
        3017    2021-11-05 19:09:25       0  0.119944           13
        1365    2021-11-05 19:11:15       0  0.113412            6
        2316    2021-11-05 19:14:10       0  0.098921           10
        6650    2021-11-05 19:15:56       0  0.121222            0
        3499    2021-11-05 19:17:52       0  0.119944           13
        4979    2021-11-05 19:18:46       0  0.121222            5
        3569    2021-11-05 19:20:46       1  0.119944           13
        6378    2021-11-05 19:23:31       1  0.121222            0
        2798    2021-11-05 19:26:26       0  0.119944            2
        3654    2021-11-05 19:29:19       0  0.119944           13
        2128    2021-11-05 19:30:20       0  0.098921           10
        6196    2021-11-05 19:30:53       0  0.121222            0
        6279    2021-11-05 19:32:24       0  0.121222            5
        3314    2021-11-05 19:35:12       0  0.119944            8
        2642    2021-11-05 19:36:27       0  0.119944            2
        1736    2021-11-05 19:37:51       0  0.123896            9
        4047    2021-11-05 19:39:04       0  0.119944           13
        6638    2021-11-05 19:41:49       0  0.121222            5
        5736    2021-11-05 19:42:12       1  0.121222            0
        6478    2021-11-05 19:44:08       0  0.121222            1
        1526    2021-11-05 19:46:00       0  0.123896            9
        1581    2021-11-05 19:47:40       0  0.123896            9
        4897    2021-11-05 19:48:25       0  0.121222            5
        4189    2021-11-06 07:14:12       0  0.119944            2
        1851    2021-11-06 07:15:41       0  0.123896            9
        1531    2021-11-06 07:18:39       0  0.123896            9
        1378    2021-11-06 07:21:28       0  0.113412            6
        855     2021-11-06 07:23:49       0  0.123080            4
        1158    2021-11-06 07:26:16       0  0.113412            6
        1838    2021-11-06 07:27:35       0  0.123896            9
        6282    2021-11-06 07:28:27       1  0.121222           11
        5990    2021-11-06 07:28:40       0  0.121222            5
        2588    2021-11-06 07:31:22       1  0.119944            8
        414     2021-11-06 07:33:52       0  0.119098            7
        5996    2021-11-06 07:35:41       0  0.121222            0
        3066    2021-11-06 07:38:30       0  0.119944            2
        115     2021-11-06 07:40:50       0  0.119098           10
        656     2021-11-06 07:43:37       0  0.123080            4
        1776    2021-11-06 07:44:54       0  0.123896           14
        1648    2021-11-06 07:47:13       0  0.123896            9
        1743    2021-11-06 07:47:39       1  0.123896            9
        790     2021-11-06 07:49:19       0  0.123080            4
        2234    2021-11-06 07:51:36       0  0.098921           10
        4527    2021-11-06 07:52:45       0  0.121222            3
        6577    2021-11-06 07:55:40       0  0.121222            5
        6377    2021-11-06 07:56:03       0  0.121222            5
        5609    2021-11-06 07:57:55       0  0.121222            0
        4957    2021-11-06 08:00:23       0  0.121222            0

                 DistanceTo1thCluster  DistanceTo2thCluster  \
user_id post_id
80072   5040                 1.312348              2.502413
        1566                 3.455095              3.807062
        3017                 2.259625              2.787625
        1365                 3.534899              3.897914
        2316                 2.439560              2.724213
        6650                 1.216953              2.243223
        3499                 2.250942              3.025433
        4979                 1.134208              2.354479
        3569                 3.075813              3.554070
        6378                 1.407255              2.493435
        2798                 2.691077              3.244774
        3654                 2.821883              3.418069
        2128                 3.193928              3.468657
        6196                 1.171253              2.173717
        6279                 1.417145              2.273854
        3314                 3.457096              3.743590
        2642                 3.014551              3.400940
        1736                 3.414521              3.749289
        4047                 3.232720              3.730809
        6638                 1.072756              2.072576
        5736                 1.167969              2.330318
        6478                 3.094340              1.488102
        1526                 3.182066              3.662382
        1581                 3.312824              3.661538
        4897                 1.484947              2.103049
        4189                 2.911575              3.091040
        1851                 3.062730              3.504486
        1531                 3.758343              4.046270
        1378                 3.015331              2.952735
        855                  3.109968              3.585783
        1158                 3.409441              3.565870
        1838                 3.063959              3.413631
        6282                 1.984120              2.776477
        5990                 0.926584              2.106415
        2588                 2.726184              3.007841
        414                  3.188624              3.738060
        5996                 1.407720              2.220999
        3066                 2.647631              3.042761
        115                  2.887927              3.418650
        656                  2.553422              3.127400
        1776                 3.223035              3.214167
        1648                 2.877607              3.354532
        1743                 3.223277              3.584880
        790                  2.491585              3.246854
        2234                 2.990990              3.346583
        4527                 2.100908              2.276370
        6577                 1.614362              2.309237
        6377                 1.534431              2.410702
        5609                 0.984588              2.095870
        4957                 1.089506              2.496598

                 DistanceTo3thCluster  DistanceTo4thCluster  \
user_id post_id
80072   5040                 2.196458              2.129602
        1566                 3.740065              3.633060
        3017                 1.611383              2.772852
        1365                 3.489211              3.539435
        2316                 2.591510              2.428049
        6650                 2.343192              1.853039
        3499                 1.263926              2.613312
        4979                 2.847173              1.865674
        3569                 1.600218              3.078207
        6378                 2.755479              1.973753
        2798                 0.779461              3.022894
        3654                 1.410949              3.185547
        2128                 2.550094              2.914611
        6196                 2.273999              1.855898
        6279                 2.663635              1.604756
        3314                 2.131724              3.482510
        2642                 1.020839              3.176769
        1736                 3.407520              3.396520
        4047                 1.518262              3.326802
        6638                 2.526089              1.760446
        5736                 2.291805              1.717741
        6478                 3.972610              3.402268
        1526                 3.558353              3.340100
        1581                 3.499078              3.326494
        4897                 2.806585              1.892337
        4189                 1.129014              3.140503
        1851                 3.333179              3.188632
        1531                 3.966828              3.850262
        1378                 2.814741              3.011595
        855                  3.146037              3.066992
        1158                 3.403358              3.373835
        1838                 2.998706              3.156141
        6282                 2.989888              1.712833
        5990                 2.751362              1.339720
        2588                 1.316776              2.993783
        414                  2.854364              3.102263
        5996                 2.583233              1.828063
        3066                 1.118744              2.959088
        115                  2.579793              2.720921
        656                  2.984585              2.578938
        1776                 2.923786              3.088493
        1648                 3.206464              3.120288
        1743                 3.225539              3.148598
        790                  2.951936              2.510992
        2234                 2.568324              2.866741
        4527                 3.287374              1.544564
        6577                 2.977168              2.110758
        6377                 2.803868              1.542178
        5609                 2.349445              1.633867
        4957                 2.577680              2.023981

                 DistanceTo5thCluster  DistanceTo6thCluster  ...  gender  \
user_id post_id                                              ...
80072   5040                 1.876325              1.635818  ...       1
        1566                 2.985912              3.527050  ...       1
        3017                 2.449574              2.593166  ...       1
        1365                 2.702853              3.617672  ...       1
        2316                 1.889992              2.627032  ...       1
        6650                 2.318510              1.552308  ...       1
        3499                 2.553208              2.640552  ...       1
        4979                 2.177464              1.074043  ...       1
        3569                 2.873015              3.202104  ...       1
        6378                 2.371151              1.862790  ...       1
        2798                 2.892645              2.972260  ...       1
        3654                 3.004902              3.183859  ...       1
        2128                 2.810919              3.255477  ...       1
        6196                 1.915281              1.273506  ...       1
        6279                 2.148596              0.869372  ...       1
        3314                 3.479840              3.585375  ...       1
        2642                 3.083527              3.170782  ...       1
        1736                 2.607530              3.315274  ...       1
        4047                 3.170692              3.431284  ...       1
        6638                 2.292819              0.970004  ...       1
        5736                 1.342521              1.481438  ...       1
        6478                 3.777387              3.100023  ...       1
        1526                 2.795179              3.307668  ...       1
        1581                 2.536044              3.322078  ...       1
        4897                 2.274980              1.429289  ...       1
        4189                 2.909332              3.141473  ...       1
        1851                 2.526868              3.123724  ...       1
        1531                 3.121013              3.678599  ...       1
        1378                 2.163918              3.043193  ...       1
        855                  1.641940              3.160857  ...       1
        1158                 2.621273              3.471143  ...       1
        1838                 2.517439              3.000192  ...       1
        6282                 2.173203              1.690610  ...       1
        5990                 2.018757              0.780920  ...       1
        2588                 2.657415              2.832773  ...       1
        414                  2.725000              3.294418  ...       1
        5996                 2.489626              1.725474  ...       1
        3066                 2.899722              2.769733  ...       1
        115                  2.278816              3.111478  ...       1
        656                  1.462115              2.616135  ...       1
        1776                 2.379965              3.199325  ...       1
        1648                 2.550960              2.978414  ...       1
        1743                 2.365096              3.128237  ...       1
        790                  1.609588              2.763509  ...       1
        2234                 2.189099              3.139965  ...       1
        4527                 2.921075              2.010996  ...       1
        6577                 2.041195              1.323601  ...       1
        6377                 2.146774              1.145326  ...       1
        5609                 1.853473              1.406072  ...       1
        4957                 2.505060              1.761268  ...       1

                    srmap  like_0  like_1  like_2  age      city  exp_group  \
user_id post_id
80072   5040     0.231689       6       1       3   27  0.154716   0.093361
        1566     0.231689       6       1       3   27  0.154716   0.093361
        3017     0.231689       6       1       3   27  0.154716   0.093361
        1365     0.231689       6       1       3   27  0.154716   0.093361
        2316     0.231689       6       1       3   27  0.154716   0.093361
        6650     0.231689       6       1       3   27  0.154716   0.093361
        3499     0.231689       6       1       3   27  0.154716   0.093361
        4979     0.231689       6       1       3   27  0.154716   0.093361
        3569     0.231689       6       1       3   27  0.154716   0.093361
        6378     0.231689       6       1       3   27  0.154716   0.093361
        2798     0.231689       6       1       3   27  0.154716   0.093361
        3654     0.231689       6       1       3   27  0.154716   0.093361
        2128     0.231689       6       1       3   27  0.154716   0.093361
        6196     0.231689       6       1       3   27  0.154716   0.093361
        6279     0.231689       6       1       3   27  0.154716   0.093361
        3314     0.231689       6       1       3   27  0.154716   0.093361
        2642     0.231689       6       1       3   27  0.154716   0.093361
        1736     0.231689       6       1       3   27  0.154716   0.093361
        4047     0.231689       6       1       3   27  0.154716   0.093361
        6638     0.231689       6       1       3   27  0.154716   0.093361
        5736     0.231689       6       1       3   27  0.154716   0.093361
        6478     0.231689       6       1       3   27  0.154716   0.093361
        1526     0.231689       6       1       3   27  0.154716   0.093361
        1581     0.231689       6       1       3   27  0.154716   0.093361
        4897     0.231689       6       1       3   27  0.154716   0.093361
        4189     0.231689       6       1       3   27  0.154716   0.093361
        1851     0.231689       6       1       3   27  0.154716   0.093361
        1531     0.231689       6       1       3   27  0.154716   0.093361
        1378     0.231689       6       1       3   27  0.154716   0.093361
        855      0.231689       6       1       3   27  0.154716   0.093361
        1158     0.231689       6       1       3   27  0.154716   0.093361
        1838     0.231689       6       1       3   27  0.154716   0.093361
        6282     0.231689       6       1       3   27  0.154716   0.093361
        5990     0.231689       6       1       3   27  0.154716   0.093361
        2588     0.231689       6       1       3   27  0.154716   0.093361
        414      0.231689       6       1       3   27  0.154716   0.093361
        5996     0.231689       6       1       3   27  0.154716   0.093361
        3066     0.231689       6       1       3   27  0.154716   0.093361
        115      0.231689       6       1       3   27  0.154716   0.093361
        656      0.231689       6       1       3   27  0.154716   0.093361
        1776     0.231689       6       1       3   27  0.154716   0.093361
        1648     0.231689       6       1       3   27  0.154716   0.093361
        1743     0.231689       6       1       3   27  0.154716   0.093361
        790      0.231689       6       1       3   27  0.154716   0.093361
        2234     0.231689       6       1       3   27  0.154716   0.093361
        4527     0.231689       6       1       3   27  0.154716   0.093361
        6577     0.231689       6       1       3   27  0.154716   0.093361
        6377     0.231689       6       1       3   27  0.154716   0.093361
        5609     0.231689       6       1       3   27  0.154716   0.093361
        4957     0.231689       6       1       3   27  0.154716   0.093361

                 hour  month
user_id post_id
80072   5040       19     11
        1566       19     11
        3017       19     11
        1365       19     11
        2316       19     11
        6650       19     11
        3499       19     11
        4979       19     11
        3569       19     11
        6378       19     11
        2798       19     11
        3654       19     11
        2128       19     11
        6196       19     11
        6279       19     11
        3314       19     11
        2642       19     11
        1736       19     11
        4047       19     11
        6638       19     11
        5736       19     11
        6478       19     11
        1526       19     11
        1581       19     11
        4897       19     11
        4189        7     11
        1851        7     11
        1531        7     11
        1378        7     11
        855         7     11
        1158        7     11
        1838        7     11
        6282        7     11
        5990        7     11
        2588        7     11
        414         7     11
        5996        7     11
        3066        7     11
        115         7     11
        656         7     11
        1776        7     11
        1648        7     11
        1743        7     11
        790         7     11
        2234        7     11
        4527        7     11
        6577        7     11
        6377        7     11
        5609        7     11
        4957        8     11

[50 rows x 29 columns]

### Пора обучать модели!

In [59]:
X = df.drop(['target', 'timestamp'], axis=1)
Y = df['target']

In [60]:
### Обучим катбуст!

from catboost import CatBoostClassifier


catboost = CatBoostClassifier(
    iterations=200,
    learning_rate=1,
    depth=2,
    random_seed=12345
)

object_cols = [
    'TextCluster', 'gender', 'age', 'hour', 'month',
]

catboost.fit(X, Y, object_cols)

0:	learn: 0.3577820	total: 4.59s	remaining: 15m 13s
1:	learn: 0.3556815	total: 10.1s	remaining: 16m 42s
2:	learn: 0.3544167	total: 14.3s	remaining: 15m 36s
3:	learn: 0.3535396	total: 15.7s	remaining: 12m 50s
4:	learn: 0.3528650	total: 17.3s	remaining: 11m 13s
5:	learn: 0.3525553	total: 18.6s	remaining: 10m 2s
6:	learn: 0.3523122	total: 20s	remaining: 9m 11s
7:	learn: 0.3516731	total: 21.5s	remaining: 8m 36s
8:	learn: 0.3515235	total: 22.9s	remaining: 8m 5s
9:	learn: 0.3514549	total: 24.2s	remaining: 7m 39s
10:	learn: 0.3510128	total: 25.6s	remaining: 7m 19s
11:	learn: 0.3479715	total: 27.2s	remaining: 7m 6s
12:	learn: 0.3478300	total: 28.6s	remaining: 6m 51s
13:	learn: 0.3476107	total: 30s	remaining: 6m 38s
14:	learn: 0.3472826	total: 31.6s	remaining: 6m 30s
15:	learn: 0.3471666	total: 32.7s	remaining: 6m 15s
16:	learn: 0.3469759	total: 33.9s	remaining: 6m 4s
17:	learn: 0.3468908	total: 35.2s	remaining: 5m 56s
18:	learn: 0.3468600	total: 36.6s	remaining: 5m 48s
19:	learn: 0.3467592	total: 37.9s	remaining: 5m 41s
20:	learn: 0.3466864	total: 39.2s	remaining: 5m 34s
21:	learn: 0.3465937	total: 40.4s	remaining: 5m 26s
22:	learn: 0.3465218	total: 41.7s	remaining: 5m 20s
23:	learn: 0.3464104	total: 43s	remaining: 5m 15s
24:	learn: 0.3463824	total: 44.2s	remaining: 5m 9s
25:	learn: 0.3463442	total: 45.5s	remaining: 5m 4s
26:	learn: 0.3463032	total: 46.8s	remaining: 4m 59s
27:	learn: 0.3462644	total: 48s	remaining: 4m 55s
28:	learn: 0.3462408	total: 49.3s	remaining: 4m 50s
29:	learn: 0.3462269	total: 50.7s	remaining: 4m 47s
30:	learn: 0.3461459	total: 52s	remaining: 4m 43s
31:	learn: 0.3460979	total: 53.2s	remaining: 4m 39s
32:	learn: 0.3460775	total: 54.6s	remaining: 4m 36s
33:	learn: 0.3460564	total: 56s	remaining: 4m 33s
34:	learn: 0.3459552	total: 57.3s	remaining: 4m 30s
35:	learn: 0.3459246	total: 58.7s	remaining: 4m 27s
36:	learn: 0.3458906	total: 59.9s	remaining: 4m 24s
37:	learn: 0.3458770	total: 1m 1s	remaining: 4m 21s
38:	learn: 0.3458305	total: 1m 2s	remaining: 4m 18s
39:	learn: 0.3458050	total: 1m 3s	remaining: 4m 15s
40:	learn: 0.3457822	total: 1m 5s	remaining: 4m 12s
41:	learn: 0.3457687	total: 1m 6s	remaining: 4m 9s
42:	learn: 0.3457546	total: 1m 7s	remaining: 4m 7s
43:	learn: 0.3457172	total: 1m 9s	remaining: 4m 4s
44:	learn: 0.3457005	total: 1m 10s	remaining: 4m 2s
45:	learn: 0.3456781	total: 1m 11s	remaining: 3m 59s
46:	learn: 0.3456601	total: 1m 12s	remaining: 3m 57s
47:	learn: 0.3456505	total: 1m 14s	remaining: 3m 54s
48:	learn: 0.3456295	total: 1m 15s	remaining: 3m 52s
49:	learn: 0.3455648	total: 1m 16s	remaining: 3m 50s
50:	learn: 0.3455547	total: 1m 18s	remaining: 3m 48s
51:	learn: 0.3455300	total: 1m 19s	remaining: 3m 46s
52:	learn: 0.3455129	total: 1m 20s	remaining: 3m 44s
53:	learn: 0.3454736	total: 1m 22s	remaining: 3m 42s
54:	learn: 0.3454562	total: 1m 23s	remaining: 3m 40s
55:	learn: 0.3454381	total: 1m 24s	remaining: 3m 37s
56:	learn: 0.3454306	total: 1m 25s	remaining: 3m 35s
57:	learn: 0.3454243	total: 1m 27s	remaining: 3m 33s
58:	learn: 0.3454125	total: 1m 28s	remaining: 3m 31s
59:	learn: 0.3453750	total: 1m 29s	remaining: 3m 29s
60:	learn: 0.3453565	total: 1m 31s	remaining: 3m 27s
61:	learn: 0.3453250	total: 1m 32s	remaining: 3m 26s
62:	learn: 0.3452972	total: 1m 33s	remaining: 3m 24s
63:	learn: 0.3452832	total: 1m 35s	remaining: 3m 22s
64:	learn: 0.3452581	total: 1m 36s	remaining: 3m 20s
65:	learn: 0.3452494	total: 1m 37s	remaining: 3m 18s
66:	learn: 0.3452397	total: 1m 38s	remaining: 3m 16s
67:	learn: 0.3452285	total: 1m 40s	remaining: 3m 14s
68:	learn: 0.3452151	total: 1m 41s	remaining: 3m 12s
69:	learn: 0.3452047	total: 1m 42s	remaining: 3m 10s
70:	learn: 0.3451119	total: 1m 44s	remaining: 3m 8s
71:	learn: 0.3450994	total: 1m 45s	remaining: 3m 7s
72:	learn: 0.3450840	total: 1m 46s	remaining: 3m 5s
73:	learn: 0.3450594	total: 1m 47s	remaining: 3m 3s
74:	learn: 0.3450444	total: 1m 49s	remaining: 3m 1s
75:	learn: 0.3450141	total: 1m 50s	remaining: 3m
76:	learn: 0.3450048	total: 1m 51s	remaining: 2m 58s
77:	learn: 0.3450005	total: 1m 52s	remaining: 2m 56s
78:	learn: 0.3449523	total: 1m 54s	remaining: 2m 54s
79:	learn: 0.3449379	total: 1m 55s	remaining: 2m 53s
80:	learn: 0.3449239	total: 1m 56s	remaining: 2m 51s
81:	learn: 0.3449168	total: 1m 57s	remaining: 2m 49s
82:	learn: 0.3449037	total: 1m 58s	remaining: 2m 47s
83:	learn: 0.3448835	total: 2m	remaining: 2m 46s
84:	learn: 0.3448748	total: 2m 1s	remaining: 2m 44s
85:	learn: 0.3448641	total: 2m 2s	remaining: 2m 42s
86:	learn: 0.3448456	total: 2m 4s	remaining: 2m 41s
87:	learn: 0.3448399	total: 2m 5s	remaining: 2m 39s
88:	learn: 0.3448339	total: 2m 6s	remaining: 2m 38s
89:	learn: 0.3448121	total: 2m 7s	remaining: 2m 36s
90:	learn: 0.3447992	total: 2m 9s	remaining: 2m 34s
91:	learn: 0.3447876	total: 2m 10s	remaining: 2m 33s
92:	learn: 0.3447846	total: 2m 11s	remaining: 2m 31s
93:	learn: 0.3447563	total: 2m 13s	remaining: 2m 30s
94:	learn: 0.3447395	total: 2m 14s	remaining: 2m 28s
95:	learn: 0.3447299	total: 2m 15s	remaining: 2m 27s
96:	learn: 0.3447195	total: 2m 16s	remaining: 2m 25s
97:	learn: 0.3447107	total: 2m 18s	remaining: 2m 23s
98:	learn: 0.3447059	total: 2m 19s	remaining: 2m 22s
99:	learn: 0.3446991	total: 2m 20s	remaining: 2m 20s
100:	learn: 0.3446903	total: 2m 22s	remaining: 2m 19s
101:	learn: 0.3446736	total: 2m 23s	remaining: 2m 17s
102:	learn: 0.3446676	total: 2m 24s	remaining: 2m 16s
103:	learn: 0.3446526	total: 2m 26s	remaining: 2m 14s
104:	learn: 0.3446459	total: 2m 27s	remaining: 2m 13s
105:	learn: 0.3446317	total: 2m 28s	remaining: 2m 11s
106:	learn: 0.3446292	total: 2m 30s	remaining: 2m 10s
107:	learn: 0.3446183	total: 2m 31s	remaining: 2m 9s
108:	learn: 0.3446126	total: 2m 33s	remaining: 2m 7s
109:	learn: 0.3445989	total: 2m 34s	remaining: 2m 6s
110:	learn: 0.3445886	total: 2m 35s	remaining: 2m 5s
111:	learn: 0.3445703	total: 2m 37s	remaining: 2m 3s
112:	learn: 0.3445540	total: 2m 39s	remaining: 2m 2s
113:	learn: 0.3445477	total: 2m 40s	remaining: 2m 1s
114:	learn: 0.3445422	total: 2m 41s	remaining: 1m 59s
115:	learn: 0.3445152	total: 2m 43s	remaining: 1m 58s
116:	learn: 0.3444282	total: 2m 44s	remaining: 1m 56s
117:	learn: 0.3444157	total: 2m 45s	remaining: 1m 55s
118:	learn: 0.3444090	total: 2m 46s	remaining: 1m 53s
119:	learn: 0.3443982	total: 2m 48s	remaining: 1m 52s
120:	learn: 0.3443888	total: 2m 49s	remaining: 1m 50s
121:	learn: 0.3443701	total: 2m 50s	remaining: 1m 49s
122:	learn: 0.3443642	total: 2m 51s	remaining: 1m 47s
123:	learn: 0.3443593	total: 2m 53s	remaining: 1m 46s
124:	learn: 0.3443509	total: 2m 54s	remaining: 1m 44s
125:	learn: 0.3443405	total: 2m 55s	remaining: 1m 43s
126:	learn: 0.3443179	total: 2m 56s	remaining: 1m 41s
127:	learn: 0.3443053	total: 2m 57s	remaining: 1m 40s
128:	learn: 0.3442776	total: 2m 59s	remaining: 1m 38s
129:	learn: 0.3442655	total: 3m	remaining: 1m 37s
130:	learn: 0.3442528	total: 3m 2s	remaining: 1m 35s
131:	learn: 0.3442511	total: 3m 3s	remaining: 1m 34s
132:	learn: 0.3442403	total: 3m 4s	remaining: 1m 33s
133:	learn: 0.3442312	total: 3m 6s	remaining: 1m 31s
134:	learn: 0.3442258	total: 3m 7s	remaining: 1m 30s
135:	learn: 0.3442215	total: 3m 9s	remaining: 1m 28s
136:	learn: 0.3442202	total: 3m 10s	remaining: 1m 27s
137:	learn: 0.3442171	total: 3m 11s	remaining: 1m 26s
138:	learn: 0.3442112	total: 3m 12s	remaining: 1m 24s
139:	learn: 0.3442066	total: 3m 13s	remaining: 1m 23s
140:	learn: 0.3441982	total: 3m 15s	remaining: 1m 21s
141:	learn: 0.3441848	total: 3m 16s	remaining: 1m 20s
142:	learn: 0.3441774	total: 3m 17s	remaining: 1m 18s
143:	learn: 0.3441447	total: 3m 19s	remaining: 1m 17s
144:	learn: 0.3441355	total: 3m 20s	remaining: 1m 16s
145:	learn: 0.3441172	total: 3m 21s	remaining: 1m 14s
146:	learn: 0.3441057	total: 3m 23s	remaining: 1m 13s
147:	learn: 0.3440904	total: 3m 24s	remaining: 1m 11s
148:	learn: 0.3440680	total: 3m 25s	remaining: 1m 10s
149:	learn: 0.3440420	total: 3m 26s	remaining: 1m 8s
150:	learn: 0.3440370	total: 3m 28s	remaining: 1m 7s
151:	learn: 0.3440301	total: 3m 29s	remaining: 1m 6s
152:	learn: 0.3440086	total: 3m 31s	remaining: 1m 4s
153:	learn: 0.3440022	total: 3m 32s	remaining: 1m 3s
154:	learn: 0.3439908	total: 3m 33s	remaining: 1m 2s
155:	learn: 0.3439837	total: 3m 35s	remaining: 1m

156:	learn: 0.3439787	total: 3m 36s	remaining: 59.3s
157:	learn: 0.3439707	total: 3m 37s	remaining: 57.9s
158:	learn: 0.3439690	total: 3m 39s	remaining: 56.5s
159:	learn: 0.3439624	total: 3m 40s	remaining: 55.1s
160:	learn: 0.3439544	total: 3m 41s	remaining: 53.7s
161:	learn: 0.3439482	total: 3m 43s	remaining: 52.3s
162:	learn: 0.3439406	total: 3m 44s	remaining: 51s
163:	learn: 0.3439364	total: 3m 45s	remaining: 49.6s
164:	learn: 0.3439312	total: 3m 46s	remaining: 48.1s
165:	learn: 0.3439205	total: 3m 48s	remaining: 46.7s
166:	learn: 0.3439118	total: 3m 49s	remaining: 45.3s
167:	learn: 0.3438897	total: 3m 50s	remaining: 43.9s
168:	learn: 0.3438845	total: 3m 51s	remaining: 42.5s
169:	learn: 0.3438697	total: 3m 53s	remaining: 41.2s
170:	learn: 0.3438645	total: 3m 54s	remaining: 39.8s
171:	learn: 0.3438594	total: 3m 55s	remaining: 38.4s
172:	learn: 0.3438442	total: 3m 57s	remaining: 37s
173:	learn: 0.3438285	total: 3m 58s	remaining: 35.6s
174:	learn: 0.3438184	total: 3m 59s	remaining: 34.2s
175:	learn: 0.3438085	total: 4m 1s	remaining: 32.9s
176:	learn: 0.3437990	total: 4m 2s	remaining: 31.5s
177:	learn: 0.3437944	total: 4m 3s	remaining: 30.1s
178:	learn: 0.3437912	total: 4m 4s	remaining: 28.7s
179:	learn: 0.3437856	total: 4m 6s	remaining: 27.4s
180:	learn: 0.3437815	total: 4m 7s	remaining: 26s
181:	learn: 0.3437738	total: 4m 8s	remaining: 24.6s
182:	learn: 0.3437603	total: 4m 10s	remaining: 23.2s
183:	learn: 0.3437492	total: 4m 11s	remaining: 21.9s
184:	learn: 0.3437337	total: 4m 12s	remaining: 20.5s
185:	learn: 0.3437256	total: 4m 13s	remaining: 19.1s
186:	learn: 0.3437137	total: 4m 15s	remaining: 17.7s
187:	learn: 0.3437069	total: 4m 16s	remaining: 16.4s
188:	learn: 0.3437013	total: 4m 17s	remaining: 15s
189:	learn: 0.3436674	total: 4m 18s	remaining: 13.6s
190:	learn: 0.3436608	total: 4m 20s	remaining: 12.3s
191:	learn: 0.3436564	total: 4m 21s	remaining: 10.9s
192:	learn: 0.3436517	total: 4m 22s	remaining: 9.53s
193:	learn: 0.3436323	total: 4m 23s	remaining: 8.16s
194:	learn: 0.3436252	total: 4m 25s	remaining: 6.8s
195:	learn: 0.3436161	total: 4m 26s	remaining: 5.43s
196:	learn: 0.3436106	total: 4m 27s	remaining: 4.08s
197:	learn: 0.3436060	total: 4m 28s	remaining: 2.71s
198:	learn: 0.3435941	total: 4m 30s	remaining: 1.36s
199:	learn: 0.3435759	total: 4m 31s	remaining: 0us

In [61]:
### Сохраним модель

catboost.save_model(
    'catboost_model',
    format="cbm"                  
)